.button {
    background-color: #C071FF;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    width: 255px;
    height: 55px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    cursor: pointer;
    @media (max-width: 1550px) {
      font-size: 12px;
    }
    @media (max-width: 768px) {
      max-width: 255px;
    }
}