// Заголовок
.title {
  font-size: 45px;
  font-weight: 700;
  line-height: 54.86px;
  text-transform: uppercase;
  z-index: 2;
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 43.88px;
  }
}
